[submodule "bundle/bundle/fugitive"]
	path = bundle/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/bundle/snipmate"]
	path = bundle/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/bundle/surround"]
	path = bundle/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/bundle/git"]
	path = bundle/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/bundle/supertab"]
	path = bundle/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/bundle/command-t"]
	path = bundle/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
